torch>=2.0.1,<3.0.0
torchvision>=0.15.2
transformers>=4.36.2
einops>=0.7.0
safetensors>=0.4.1
pillow>=9.4.0
fastapi
uvicorn
python-multipart
huggingface_hub
requests
numpy

onnxruntime-gpu
pandas
opencv-python
aiofiles

